html{
    max-width: 1800px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(180, 12, 12, 0.85) 100%);
    padding: 50px;
    text-align: center;
    scroll-behavior: smooth;
}
header{
    background-color: rgb(180 12 12);
    color: rgb(217 217 217);
    text-align: center;
}
a{
    text-decoration: none;
    background-color: rgb(217 217 217);
    color: rgb(180 12 12);
}
section,div,h1{
   
    color: rgb(217 217 217);
}










/* Rectangle 1 */

position: absolute;
width: 1200px;
height: 3420px;

background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(180, 12, 12, 0.45) 100%);


/* Rectangle 17 */

position: absolute;
width: 712px;
height: 282px;

background: linear-gradient(180deg, #B40C0C 0%, #780F0F 100%);
mix-blend-mode: normal;
border-radius: 26px;


/* Rectangle 10 */

position: absolute;
width: 234px;
height: 282px;

background: linear-gradient(180deg, #B40C0C 0%, #780F0F 100%);
mix-blend-mode: normal;
border-radius: 26px;


/* Rectangle 13 */

position: absolute;
width: 234px;
height: 282px;

background: linear-gradient(180deg, #B40C0C 0%, #780F0F 100%);
mix-blend-mode: normal;
border-radius: 26px;


/* Rectangle 22 */

position: absolute;
width: 234px;
height: 60px;

background: #B40C0C;
mix-blend-mode: normal;
border-radius: 26px;


/* Rectangle 25 */

position: absolute;
width: 234px;
height: 60px;

background: #B40C0C;
mix-blend-mode: normal;
border-radius: 26px;


/* Rectangle 24 */

position: absolute;
width: 234px;
height: 60px;

background: #B40C0C;
mix-blend-mode: normal;
border-radius: 26px;


/* Rectangle 23 */

position: absolute;
width: 234px;
height: 60px;

background: #B40C0C;
mix-blend-mode: normal;
border-radius: 26px;


/* Rectangle 16 */

position: absolute;
width: 234px;
height: 282px;

background: linear-gradient(180deg, #B40C0C 0%, #780F0F 100%);
mix-blend-mode: normal;
border-radius: 26px;


/* Rectangle 15 */

position: absolute;
width: 234px;
height: 282px;

background: linear-gradient(180deg, #B40C0C 0%, #780F0F 100%);
mix-blend-mode: normal;
border-radius: 26px;


/* Rectangle 14 */

position: absolute;
width: 234px;
height: 282px;

background: linear-gradient(180deg, #B40C0C 0%, #780F0F 100%);
mix-blend-mode: normal;
border-radius: 26px;


/* Rectangle 11 */

position: absolute;
width: 256px;
height: 62px;

background: #B40C0C;
mix-blend-mode: normal;
border-radius: 26px;


/* Rectangle 2 */

position: absolute;
width: 1160px;
height: 171px;

background: #B40C0C;
border-radius: 25px;


/* Trág Jenő */

position: absolute;
width: 188px;
height: 57px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #D9D9D9;



/* JUNiOR FEJLESZTŐ */

position: absolute;
width: 345px;
height: 57px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #D9D9D9;



/* “A lehetetlenre is van megoldás, csak meg kell fizetni a felárat.” */

position: absolute;
width: 715px;
height: 38px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #D9D9D9;



/* Rectangle 3 */

position: absolute;
width: 1095px;
height: 59px;

background: #B40C0C;
border-radius: 0px 0px 25px 25px;


/* Rectangle 4 */

position: absolute;
width: 149px;
height: 33px;

background: #D9D9D9;
border-radius: 15px;


/* Rectangle 7 */

position: absolute;
width: 149px;
height: 33px;

background: #D9D9D9;
border-radius: 15px;


/* Rectangle 6 */

position: absolute;
width: 149px;
height: 33px;

background: #D9D9D9;
border-radius: 15px;


/* Rectangle 5 */

position: absolute;
width: 149px;
height: 33px;

background: #D9D9D9;
border-radius: 15px;


/* bemutatkozás */

position: absolute;
width: 135px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #B40C0C;



/* kapcsolat */

position: absolute;
width: 92px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #B40C0C;



/* projektek */

position: absolute;
width: 89px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #B40C0C;



/* készségek */

position: absolute;
width: 101px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #B40C0C;



/* Vector 10 */

position: absolute;
width: 3px;
height: 69px;

border: 2px solid #FFFFFF;


/* Vector 11 */

position: absolute;
width: 27px;
height: 25px;

border: 2px solid #FFFFFF;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elit neque, molestie at lobortis sed, condimentum congue odio. Nullam aliquet luctus volutpat. Ut efficitur massa a nunc consequat, at mattis velit sodales. Aenean lacus metus, consectetur vel eleifend quis, laoreet ac nunc. Nam scelerisque porta eros, id eleifend magna ornare et. Maecenas sed mauris consequat, iaculis risus id, iaculis sem. Aliquam nisi arcu, malesuada eu tortor a, placerat consectetur magna. Maecenas et convallis quam. Ut id volutpat quam, ut sodales mauris. Phasellus et rhoncus tortor, at lacinia dolor. Sed pretium magna eget nisl vulputate aliquet. Aenean vitae vulputate purus. In eleifend sapien eu augue mattis, id ullamcorper quam volutpat. Morbi nec gravida magna, ut aliquet felis. Aenean lacus dui, placerat nec mollis a, dignissim at purus. Duis eu augue at dolor aliquet placerat. Aliquam erat volutpat. Vivamus quis risus vel augue tincidunt pretium a at magna. Nulla eu libero semper tortor aliquet accumsan. Sed quis varius erat, vel finibus lacus. Nullam a nisl vitae sem tempus ornare nec id est. Vestibulum eget tellus mauris. Vivamus quis nisl leo. Maecenas ut enim blandit, vehicula elit quis, interdum massa. Nulla blandit, mi et accumsan semper, sapien ligula consectetur metus, vitae egestas ante quam nec sem. Etiam metus purus, bibendum eu ipsum imperdiet, semper fringilla libero. */

position: absolute;
width: 690px;
height: 262px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;

color: #FFF9F9;



/* Rectangle 30 */

position: absolute;
width: 1074px;
height: 193px;

background: linear-gradient(180deg, #B40C0C 0%, #780F0F 100%);
mix-blend-mode: normal;
border-radius: 26px;


/* C# programozás: Asztali alkalmazások, logikai feladatok és az alapvető szoftverfejlesztési rutinhoz szükséges objektumorientált kódolás. HTML, CSS, JS: Modern, reszponzív weboldalak és felhasználói felületek tervezése, megvalósítása és interaktívvá tétele. IOT eszközök: Okoskütyük, mikrokontrollerek és vezeték nélküli modulok programozása a fizikai világ és a szoftverek összekötésére. Python programozás: Gyors szkriptekírás, adatfeldolgozás, automatizálás és backend logikák fejlesztése tiszta kóddal. Adatbázis kezelés: Adatok hatékony tárolása, lekérdezések írása, relációs adatbázisok tervezése és karbantartása SQL-ben. Hardver & Forrasztás: Egyedi gépek építése, alkatrészek cseréje, áramkörök bütykölése és fizikai hardveres hibaelhárítás. Kreatív Bugfix: Az a pillanat, amikor a kód nem fut, de egy doboz energiaital és némi improvizáció csodákra képes. Ezer mester: Mindenhol otthon vagyok, ahol csavarhúzó, forrasztópáka vagy egy gyanús hibaüzenet van a horizonton. */

position: absolute;
width: 1038px;
height: 179px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFF9F9;



/* Rectangle 42 */

position: absolute;
width: 482px;
height: 114px;

background: linear-gradient(180deg, #B40C0C 0%, #780F0F 100%);
mix-blend-mode: normal;
border-radius: 26px;


/* Rectangle 43 */

position: absolute;
width: 1092px;
height: 114px;

background: linear-gradient(180deg, #B40C0C 0%, #780F0F 100%);
mix-blend-mode: normal;
border-radius: 26px;


/* Email: TragJeno@citromail.hu Telefon: +36 20 013 6769 Lakhely: 6500 Baja, Piac tér, Szenes u., */

position: absolute;
width: 466px;
height: 106px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #FFF9F9;



/* © 2026 Horváth Vencel Szoftverfejlesztő és tesztelő */

position: absolute;
width: 434px;
height: 106px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFF9F9;



/* Bemutatkozás */

position: absolute;
width: 216px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #FFF9F9;



/* Rectangle 12 */

position: absolute;
width: 222px;
height: 62px;

background: #B40C0C;
mix-blend-mode: normal;
border-radius: 26px;


/* Készségek */

position: absolute;
width: 164px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #FFF9F9;



/* Section 5 */

position: relative;
width: 222px;
height: 1015px;



/* c# 1 */

position: absolute;
width: 266px;
height: 266px;

background: url(c#);


/* C# programozás */

position: absolute;
width: 168px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFF9F9;



/* Rectangle 38 */

position: absolute;
width: 234px;
height: 282px;

background: linear-gradient(180deg, #B40C0C 0%, #780F0F 100%);
mix-blend-mode: normal;
border-radius: 26px;


/* Rectangle 39 */

position: absolute;
width: 234px;
height: 60px;

background: #B40C0C;
mix-blend-mode: normal;
border-radius: 26px;


/* Kreatív Bugfix */

position: absolute;
width: 132px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFF9F9;



/* Rectangle 40 */

position: absolute;
width: 234px;
height: 282px;

background: linear-gradient(180deg, #B40C0C 0%, #780F0F 100%);
mix-blend-mode: normal;
border-radius: 26px;


/* Rectangle 41 */

position: absolute;
width: 234px;
height: 60px;

background: #B40C0C;
mix-blend-mode: normal;
border-radius: 26px;


/* Python programozás */

position: absolute;
width: 201px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFF9F9;



/* Rectangle 36 */

position: absolute;
width: 234px;
height: 282px;

background: linear-gradient(180deg, #B40C0C 0%, #780F0F 100%);
mix-blend-mode: normal;
border-radius: 26px;


/* Rectangle 37 */

position: absolute;
width: 234px;
height: 60px;

background: #B40C0C;
mix-blend-mode: normal;
border-radius: 26px;


/* Hardver & Forrasztás */

position: absolute;
width: 203px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFF9F9;



/* Rectangle 34 */

position: absolute;
width: 234px;
height: 282px;

background: linear-gradient(180deg, #B40C0C 0%, #780F0F 100%);
mix-blend-mode: normal;
border-radius: 26px;


/* Rectangle 35 */

position: absolute;
width: 234px;
height: 60px;

background: #B40C0C;
mix-blend-mode: normal;
border-radius: 26px;


/* Adatbázis kezelés */

position: absolute;
width: 178px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFF9F9;



/* HTML,CSS, JS */

position: absolute;
width: 140px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFF9F9;



/* IOT eszközök */

position: absolute;
width: 140px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFF9F9;



/* Ezer mester */

position: absolute;
width: 118px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFF9F9;



/* htmlcssjs 1 */

position: absolute;
width: 245px;
height: 196px;

background: url(htmlcssjs.png);


/* iot 1 */

position: absolute;
width: 179px;
height: 179px;

background: url(iot.png);


/* 384a4a08-2cc8-42df-88c6-9dd3e98a989e-removebg-preview 1 */

position: absolute;
width: 188px;
height: 338px;

background: url(384a4a08-2cc8-42df-88c6-9dd3e98a989e-removebg-preview.png);


/* Group 4 */

position: absolute;
width: 495px;
height: 373px;



/* Group 2 */

position: absolute;
width: 495px;
height: 390px;



/* Group 1 */

position: absolute;
width: 495px;
height: 368px;



/* Group 3 */

position: absolute;
width: 495px;
height: 354px;



/* python 1 */

position: absolute;
width: 203px;
height: 222px;

background: url(python);


/* sql 1 */

position: absolute;
width: 178px;
height: 177px;

background: url(sql.png);


/* mkoontroller 1 */

position: absolute;
width: 203px;
height: 203px;

background: url(mkoontroller.png);


/* monster 1 */

position: absolute;
width: 343px;
height: 343px;

background: url(monster.png);


/* jeno2 1 */

position: absolute;
width: 185px;
height: 332px;

background: url(jeno2.png);
